/**
 * @name FullsizeVideo
 * @version 1.5
 * @description A theme for turn your videos in full width
 * @author Caique Ponjjar
 * 
 * @website http://github.com/Caique-P
 * @source https://github.com/Caique-P/BetterDiscord/LargerVideo
 * @User: @Caique#0001
 */

@keyframes fadein {
    from {
    opacity: 0.1; }
    to   {
    opacity: 1; }
}
div[class*="embedWrapper"][style], div[class^="wrapperP"][style],
div[class^="wrapperControls"][style]  {
    width: 100% !important;
        height: auto !important;
        min-width: 40vh;
    max-width: 120vh !important;
    border-radius: 0 !important;
    max-height: 120vh !important;
  animation: fadein 1.0s;
};

.metadata-13NcHb[style] {
    background-image: none !important;
};

video{
    width: auto;
};
